<!--==================================
            ABOUT
===================================-->

<section class="about-section" id="about">


    <div class="container">
    
        <div class="row align-items-center gy-5">
            <h1 class="section-subtitle ">
                درباره نبات
            </h1>
            <div class="col-lg-6">

                <div class="about-image">

                    <img src="~/images/abouthomepage.jpg"
                         class="img-fluid rounded-4 shadow"
                         alt="درباره نبات">

                </div>

            </div>

            <div class="col-lg-6">


                <h3 class="section-title">

                    اصالت ایرانی در هر دانه نبات

                </h3>

                <p class="about-text">

                    ما با سال‌ها تجربه در تولید نبات، تلاش کرده‌ایم
                    محصولاتی با کیفیت، سالم و اصیل را به سفره خانواده‌های
                    ایرانی برسانیم. استفاده از زعفران طبیعی، مواد اولیه
                    مرغوب و بسته‌بندی مدرن، رمز اعتماد مشتریان ماست.

                </p>

                <div class="about-list">

                    <div>
                        <i class="bi bi-check-circle-fill"></i>
                        استفاده از زعفران درجه یک
                    </div>

                    <div>
                        <i class="bi bi-check-circle-fill"></i>
                        بسته‌بندی بهداشتی
                    </div>

                    <div>
                        <i class="bi bi-check-circle-fill"></i>
                        ارسال به سراسر کشور
                    </div>

                    <div>
                        <i class="bi bi-check-circle-fill"></i>
                        کیفیت تضمین‌شده
                    </div>

                </div>

                <a href="#" class="hero-btn mt-4">

                    بیشتر بدانید

                </a>

            </div>

        </div>

    </div>

</section>