<footer class="footer">

    <div class="container">

        <div class="row gy-5">

            <!-- برند -->
            <div class="col-lg-4">

                <img src="~/images/logo.png"
                     class="footer-logo"
                     alt="نبات">

                <p class="footer-about">

                    شیرینی زندگی، با طعم اصالت ایرانی.
                    تولید و عرضه انواع نبات زعفرانی و محصولات سنتی
                    با بهترین کیفیت.

                </p>

            </div>


            <!-- لینک‌ها -->
            <div class="col-lg-2">

                <h5>دسترسی سریع</h5>

                <ul>

                    <li><a href="#">خانه</a></li>

                    <li><a href="#">محصولات</a></li>

                    <li><a href="#">درباره ما</a></li>

                    <li><a href="#">وبلاگ</a></li>

                    <li><a href="#">تماس با ما</a></li>

                </ul>

            </div>



            <!-- خدمات -->
            <div class="col-lg-3">

                <h5>خدمات مشتریان</h5>

                <ul>

                    <li><a href="#">پیگیری سفارش</a></li>

                    <li><a href="#">روش ارسال</a></li>

                    <li><a href="#">شرایط بازگشت</a></li>

                    <li><a href="#">سوالات متداول</a></li>

                </ul>

            </div>



            <!-- تماس -->
            <div class="col-lg-3">

                <h5>ارتباط با ما</h5>

                <p>
                    <i class="bi bi-telephone"></i>
                    021-12345678
                </p>

                <p>
                    <i class="bi bi-envelope"></i>
                    info@nabat.com
                </p>

                <p>
                    <i class="bi bi-geo-alt"></i>
                    تهران، ایران
                </p>
                <div class="footer-contact-wrap">

                <div class="socials">

                    <a href="#">
                        <i class="bi bi-instagram"></i>
                    </a>

                    <a href="#">
                        <i class="bi bi-telegram"></i>
                    </a>

                    <a href="#">
                        <i class="bi bi-whatsapp"></i>
                    </a>

                </div>
                </div>

            </div>

        </div>


        <hr>


        <div class="copyright">

            © 2026 تمامی حقوق این وب‌سایت متعلق به نبات می‌باشد.

        </div>

    </div>

</footer>