<!--==================================
            HERO SECTION
===================================-->

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<section class="hero-section">

    <div class="swiper main-hero-swiper">

        <div class="swiper-wrapper">

            <!-- Slide 1 -->

            <div class="swiper-slide">

                <div class="container">

                    <div class="row align-items-center">

                        <div class="col-lg-4">

                            <div class="hero-content">

                                <h3>

                                    محصولات ارگانیک

                                </h3>

                                <h3>

                                    شیرینی اصیل ایرانی

                                    <span>با نبات زعفرانی</span>

                                </h3>

                                <div class="cart-btn" style="margin-top:150px">

                                    <a href="#products"
                                       class="btn-gold">
                                        مشاهده محصولات

                                    </a>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-8">

                            <div class="hero-image-box">

                                <img src="~/images/baner1.png"
                                     class="hero-product"
                                     alt="نبات">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Slide 2 -->

            <div class="swiper-slide">

                <div class="container">

                    <div class="row align-items-center">

                        <div class="col-lg-4">

                            <div class="hero-content">

                                <h3>

                                    طبیعی و سالم

                                </h3>

                                <h3>

                                    طعم خاطره

                                    <span>حس زندگی</span>

                                </h3>

                                <div class="cart-btn" style="margin-top:150px">

                                    <a href="#products"
                                       class="btn-gold">

                                        مشاهده محصولات

                                    </a>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-8">

                            <div class="hero-image-box">

                                <img src="~/images/baner2.png"
                                     class="hero-product"
                                     alt="نبات">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Slide 3 -->

            <div class="swiper-slide">

                <div class="container">

                    <div class="row align-items-center">

                        <div class="col-lg-4">

                            <div class="hero-content">

                                <h1>

                                     هدیه‌ای خاص

                                </h1>

                                <h3>

                                    پک‌های هدیه

                                    <span>لوکس و سنتی</span>

                                </h3>

                                <div class="cart-btn" style="margin-top:150px">

                                    <a href="#products"
                                       class="btn-gold">

                                        مشاهده محصولات
                                    </a>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-8 pb-5">

                            <div class="hero-image-box">

                                <img src="~/images/baner3.png"
                                     class="hero-product"
                                     alt="نبات">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>

    new Swiper(".main-hero-swiper", {

    loop: true,

    speed: 900,

    autoplay: {

    delay: 5000,

    disableOnInteraction: false,

    },

    effect: "fade",

    fadeEffect: {

    crossFade: true,

    },

    pagination: {

    el: ".swiper-pagination",

    clickable: true,

    },

    navigation: {

    nextEl: ".swiper-button-next",

    prevEl: ".swiper-button-prev",

    }

    });

</script>