<section class="about-page">


    <!-- HERO -->

    <div class="about-hero">

        <div class="container">

            <h1>
                درباره نبات
            </h1>

            <p>
                شیرینی اصالت ایرانی در کنار کیفیت و هنر تولید
            </p>

        </div>

    </div>




    <!-- ABOUT CONTENT -->

    <section class="about-content">

        <div class="container">

            <div class="row align-items-center g-4">


                <div class="col-lg-6">

                    <div class="about-image-box">

                        <img src="~/images/about.jpg"
                             alt="نبات">

                    </div>

                </div>



                <div class="col-lg-6">


                    <h2>
                        داستان برند نبات
                    </h2>


                    <p>
                        نبات با هدف ارائه محصولات سنتی ایرانی
                        با کیفیت بالا شکل گرفت.
                        ما تلاش می‌کنیم طعم اصیل نبات زعفرانی،
                        نبات چوبی و محصولات هدیه را با بسته‌بندی
                        مدرن و استاندارد به مشتریان ارائه کنیم.
                    </p>


                    <p>
                        استفاده از مواد اولیه مرغوب،
                        توجه به جزئیات و حفظ اصالت ایرانی
                        مهم‌ترین ارزش‌های برند ما هستند.
                    </p>


                </div>


            </div>


        </div>


    </section>





    <!-- FEATURES -->


    <section class="about-features">


        <div class="container">


            <div class="row g-3">


                <div class="col-md-4">


                    <div class="about-feature-card">

                        <i class="bi bi-award"></i>

                        <h4>
                            کیفیت تضمینی
                        </h4>

                        <p>
                            تولید با بهترین مواد اولیه
                        </p>

                    </div>


                </div>




                <div class="col-md-4">


                    <div class="about-feature-card">

                        <i class="bi bi-flower1"></i>

                        <h4>
                            اصالت ایرانی
                        </h4>

                        <p>
                            حفظ طعم سنتی و خاطره‌انگیز
                        </p>

                    </div>


                </div>





                <div class="col-md-4">


                    <div class="about-feature-card">

                        <i class="bi bi-truck"></i>

                        <h4>
                            ارسال سریع
                        </h4>

                        <p>
                            تحویل مطمئن محصولات
                        </p>

                    </div>


                </div>


            </div>


        </div>


    </section>


</section>