<aside class="product-filter">

    <div class="filter-card">

        <h4 class="filter-title">
            فیلتر محصولات
        </h4>

        <div class="filter-group">

            <h6>دسته‌بندی</h6>

            <label><input type="checkbox"> نبات زعفرانی</label>
            <label><input type="checkbox"> نبات چوبی</label>
            <label><input type="checkbox"> نبات طعم‌دار</label>
            <label><input type="checkbox"> پک هدیه</label>

        </div>

        <div class="filter-group">

            <h6>محدوده قیمت</h6>

            <input type="range" class="form-range">

            <div class="price-range">

                <span>100 هزار</span>

                <span>900 هزار</span>

            </div>

        </div>

        <div class="filter-group">

            <h6>طعم</h6>

            <label><input type="checkbox"> زعفران</label>
            <label><input type="checkbox"> هل</label>
            <label><input type="checkbox"> دارچین</label>
            <label><input type="checkbox"> زنجبیل</label>

        </div>

        <div class="filter-group">

            <h6>وضعیت</h6>

            <label>
                <input type="checkbox">
                فقط محصولات موجود
            </label>

        </div>

        <button class="filter-btn">
            اعمال فیلتر
        </button>

    </div>

</aside>