<div class="col-lg-6">

    <div class="product-gallery">

        <div class="main-image">

            <img src="~/images/products/product1.jpg"
                 class="img-fluid"
                 id="mainProductImage">

        </div>

        <div class="thumb-images">

            <img src="~/images/products/product1.jpg"
                 class="active">

            <img src="~/images/products/product2.jpg">

            <img src="~/images/products/product3.jpg">

            <img src="~/images/products/product4.jpg">

        </div>

    </div>

</div>